.header {
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;
  margin-top: 1rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1rem solid #E3E3E3;
}

.header__logo {
  width: 34rem;
  // margin-right: 1rem;
  margin-bottom: 1rem;
}

.header__main-nav {
  align-self: flex-start;
  width: 80.6rem;
  margin-top: 3.1rem;
}

.header__contacts-wrap {
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  padding-right: 4rem;
  text-align: right;
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 2.6rem;
    height: 2.6rem;

    background-image: url('../img/svg/icons/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header__phone {
  font-weight: @bold;
  font-size: 2rem;
}

.header__mail {
  font-weight: @light;
}

.header__menu-toggle,
.header__link-call-back {
  display: none;
}

@media (max-width: @tablet-width) {

  .header {
    position: fixed;

    margin-top: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: #fff;

    &.active {
      position: fixed;
      z-index: 10;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      .header__main-nav {
        display: flex;
        margin-top: 7rem;
      }
    }

    &.active,
    &.active .header__wrapper {
      &::before,
      &::after {
        background-color: #ffe6e6;
      }
    }

    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }

  .header__wrapper {
    position: relative;
    flex-direction: column;
    border: 0;
    &::before {
      left: calc(-1 * var(--padding-inline));
    }
    &::after {
      right: calc(-1 * var(--padding-inline));
    }
  }

  .header,
  .header__wrapper {
    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      width: 1.5rem;
      height: 100%;
    }
  }

  .header__mobile-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__logo {
    width: auto;
    margin: 0;
  }

  .header__phone-wrapper {}

  .header__menu-toggle {
    flex-shrink: 0;
  }

  .header__menu-toggle,
  .header__link-call-back {
    display: block;
  }

  .header__contacts-wrap,
  .header__main-nav {
    display: none;
  }

  .header__main-nav {
    margin: 0;
  }

  .header__link-call-back-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
