.logo {
  position: relative;
  // padding-left: 7rem;
}

.logo__img-wrap {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo__img {
  width: 7.8rem;
  height: 7.8rem;
}

.logo__description {
  margin-left: 1.2rem;
  &-item {
    display: block;
    &--bold {
      font-weight: @bold;
      font-size: 1.9rem;
    }
    &--light {
      font-weight: @light;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: @tablet-width) {

  .logo__img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .logo__description {
    display: none;
  }
}
