.main-nav {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: inherit;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 61rem;
}

.main-nav__item {
  position: relative;
  // margin-right: 3.7rem;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  cursor: pointer;
  position: relative;
  padding-bottom: 3.9rem;
}

.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 6.2rem;
  left: -1.9rem;

  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;

  width: 21.5rem;
  padding-top: 2.2rem;
  padding-left: 4.1rem;
  padding-right: 1.1rem;
  padding-bottom: 3.2rem;

  font-weight: @light;
  background-color: #FFF;
  box-shadow: 1rem 3rem 8rem #EAEAEA;
  border-radius: 1.5rem;
}

.main-nav__subitem {
  margin-bottom: 1.9rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__sublink {
  display: block;
}

.main-nav__btn-callback {
  flex-shrink: 0;
}

.main-nav__decoration {
  z-index: -1;
  position: absolute;
  bottom: 3.4rem;
  left: 0;
  width: 0;
  height: 0.2rem;

  border-radius: 0.2rem;
  background-color: @color-s;

  transition-property: all, left;
  transition-duration: @s, 0s;
  transition-delay: 0s;

  opacity: 0;
}

.decor .main-nav__decoration {
  transition-property: all, left;
  transition-duration: @s, @s;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .main-nav__item.selected-on-tab .main-nav__sublist,
  .main-nav__item:hover .main-nav__sublist,
  .main-nav__link:focus + .main-nav__sublist {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: @tablet-width) {
  .main-nav {
    display: none;

    flex-direction: column;
    align-items: initial;
    width: 100%;
    margin-bottom: 5rem;
  }

  .main-nav__list {
    flex-direction: column;
    width: auto;
  }

  .main-nav__item {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    padding-bottom: 1.8rem;
    border-bottom: 0.1rem solid @color-t;
  }

  .main-nav__link {
    padding-bottom: 0;
  }

  .main-nav-sub {
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      content: '+';
    }
    &.active {
      &::after {
        content: '-';
      }
    }
  }

  .main-nav__sublist {
    display: none;

    position: relative;
    top: 0;
    left: auto;
    width: 100%;
    margin-top: 1.8rem;
    padding: 0;

    font-size: 1.5rem;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    transition: initial;
    visibility: visible;
    opacity: 1;

    &.active {
      display: block;
    }
  }

  .main-nav__subitem {
    padding-left: 1.7rem;
    margin-bottom: 2.3rem;
    padding-bottom: 1.9rem;
    border-bottom: 0.1rem solid @color-t;
    &:first-child {
      padding-top: 2.5rem;
      border-top: 0.1rem solid @color-t;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0;
    }
  }

  .main-nav__btn-callback,
  .main-nav__decoration {
    display: none;
  }
}
