@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Regular.eot');
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed/regular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed/regular/RobotoCondensed-Regular.woff2') format('woff2'), url('../fonts/RobotoCondensed/regular/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed/regular/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Light.eot');
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/RobotoCondensed/light/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed/light/RobotoCondensed-Light.woff2') format('woff2'), url('../fonts/RobotoCondensed/light/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensed/light/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Bold.eot');
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed/bold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed/bold/RobotoCondensed-Bold.woff2') format('woff2'), url('../fonts/RobotoCondensed/bold/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed/bold/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe/light/Circe-Light.woff2") format("woff2"), url("../fonts/Circe/light/Circe-Light.woff") format("woff"), url("../fonts/Circe/light/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --font-main: 'Roboto Condensed', 'Arial', sans-serif;
  --font-text-desc: 'Circe', 'Arial', sans-serif;
  --color-first: #2e2e2e;
  --color-second: #FF3333;
  --color-third: #EDECF4;
  --color-bg: #fcfcfc;
  --transition-main: 0.5s;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color-first);
  background-color: var(--color-bg);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: var(--transition-main);
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-main);
  font-size: inherit;
  color: var(--color-first);
}
section,
article {
  position: relative;
}
figure {
  margin: 0;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.overlay.active {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-outside,
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  width: 140rem;
}
html .mobile-flex,
html .mobile-block {
  display: none;
}
html .desktop-block {
  display: block;
}
html .desktop-flex {
  display: flex;
}
.js-phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
@media (max-width: 48em) {
  .overlay {
    background-color: rgba(234, 241, 249, 0.5);
  }
  .container,
  .container-outside,
  .container-inside {
    width: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  html .desktop-flex,
  html .desktop-block {
    display: none;
  }
  html .mobile-block {
    display: block;
  }
  html .mobile-flex {
    display: flex;
  }
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 22em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 53%;
  }
}
.o {
  outline: 1px solid red;
}
.r {
  border: 1px solid red;
}
.text-stroke {
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.title {
  font-size: 5rem;
  line-height: 5.9rem;
}
.subtitle {
  font-size: 4rem;
  line-height: 4.7rem;
}
.desc {
  font-family: var(--font-text-desc);
  line-height: 2.7rem;
}
.desc--light {
  font-weight: 300;
}
.caption {
  text-transform: uppercase;
  font-size: 16px;
}
.caption--red {
  color: var(--color-second);
}
.icon-arrow--red {
  fill: var(--color-second);
}
.icon-arrow--white {
  fill: #fff;
}
.icon-arrow--short {
  width: 18px;
  height: 12px;
}
.icon-arrow--long {
  width: 38px;
  height: 14px;
}
.icon-arrow--left {
  transform: rotate(180deg);
}
.icon-arrow--top {
  transform: rotate(-90deg);
}
.icon-arrow--bottom {
  transform: rotate(90deg);
}
.btn-callback {
  display: inline-flex;
  align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.btn-callback__icon {
  margin-left: 15px;
}
.btn-callback-decor {
  display: inline-flex;
  align-items: center;
  width: 241px;
  height: 54px;
  padding-left: 27px;
  font-family: var(--font-text-desc);
  border: 2px solid var(--color-second);
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-callback-decor__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  margin-left: auto;
  background-color: var(--color-second);
  border-radius: 10px;
}
.btn-go-link {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-text-desc);
}
.btn-go-link__icon {
  margin-left: 10px;
}
.btn-decor-line {
  position: relative;
  display: flex;
  align-items: center;
  height: 83px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 700;
}
.btn-decor-line__icon {
  margin-left: 10px;
}
.btn-decor-line::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100px;
  height: 83px;
  background-image: url('../img/svg/red-line.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-decor-line--small {
  height: 48px;
  padding-left: 20px;
  font-size: 1.8rem;
}
.btn-decor-line--small::before {
  width: 51px;
  height: 48px;
  background-image: url('../img/svg/red-line-small.svg');
}
.btn-decor-line--big {
  height: 104px;
  padding-left: 40px;
  font-size: 40px;
}
.btn-decor-line--big::before {
  width: 114px;
  height: 94px;
}
/*header*/
.header {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  margin-top: 1rem;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
}
.header__logo {
  width: 340px;
  margin-bottom: 10px;
}
.header__main-nav {
  align-self: flex-start;
  width: 80.6rem;
  margin-top: 31px;
}
.header__contacts-wrap {
  position: relative;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-right: 40px;
  text-align: right;
}
.header__contacts-wrap::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-image: url('../img/svg/icons/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__phone {
  font-weight: 700;
  font-size: 20px;
}
.header__mail {
  font-weight: 300;
}
.header__menu-toggle,
.header__link-call-back {
  display: none;
}
.logo {
  position: relative;
}
.logo__img-wrap {
  display: flex;
  align-items: center;
  margin: 0;
}
.logo__img {
  width: 78px;
  height: 78px;
}
.logo__description {
  margin-left: 12px;
}
.logo__description-item {
  display: block;
}
.logo__description-item--bold {
  font-weight: 700;
  font-size: 19px;
}
.logo__description-item--light {
  font-weight: 300;
  font-size: 16px;
}
.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: inherit;
}
.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 61rem;
}
.main-nav__item {
  position: relative;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  cursor: pointer;
  position: relative;
  padding-bottom: 3.9rem;
}
.main-nav__sublist {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 6.2rem;
  left: -1.9rem;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  width: 215px;
  padding-top: 2.2rem;
  padding-left: 4.1rem;
  padding-right: 1.1rem;
  padding-bottom: 3.2rem;
  font-weight: 300;
  background-color: #FFF;
  box-shadow: 10px 30px 80px #EAEAEA;
  border-radius: 15px;
}
.main-nav__subitem {
  margin-bottom: 1.9rem;
}
.main-nav__subitem:last-child {
  margin-bottom: 0;
}
.main-nav__sublink {
  display: block;
}
.main-nav__btn-callback {
  flex-shrink: 0;
}
.main-nav__decoration {
  z-index: -1;
  position: absolute;
  bottom: 3.4rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--color-second);
  transition-property: all, left;
  transition-duration: var(--transition-main), 0s;
  transition-delay: 0s;
  opacity: 0;
}
.decor .main-nav__decoration {
  transition-property: all, left;
  transition-duration: var(--transition-main), var(--transition-main);
  opacity: 1;
}
.main-nav__search {
  display: none;
}
@media (min-width: 48em) {
  .main-nav__item.selected-on-tab .main-nav__sublist,
  .main-nav__item:hover .main-nav__sublist,
  .main-nav__link:focus + .main-nav__sublist {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 48em) {
  .main-nav {
    display: none;
    align-items: initial;
    width: 100%;
    flex-direction: column;
    color: #fff;
    --margin-block: 2.5rem;
  }
  .main-nav__list {
    width: auto;
  }
  .main-nav__list--primary {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-nav__list--secondary {
    flex-direction: column;
  }
  .main-nav__item {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: var(--margin-block);
  }
  .main-nav__item--primary {
    max-width: none;
  }
  .main-nav__link {
    padding-bottom: 0;
  }
  .main-nav__sublist {
    display: none;
    position: relative;
    top: 0;
    left: auto;
    width: 100%;
    margin-top: var(--margin-block);
    padding: 0;
    padding-left: 3.6rem;
    font-size: inherit;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    transition: initial;
    visibility: visible;
    opacity: 1;
  }
  .main-nav__subitem {
    margin-bottom: var(--margin-block);
  }
  .main-nav__btn-search {
    display: none;
    margin-left: 0;
    padding-left: 0;
  }
  .main-nav__decoration {
    display: none;
  }
  .main-nav__search {
    display: flex;
    margin-bottom: 4.2rem;
  }
}
/*main*/
.main-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.main-bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product {
  position: relative;
  padding-top: 72px;
  padding-bottom: 72px;
}
.product::after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  bottom: -55px;
  width: 100%;
  height: 238px;
  background-image: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
}
.product__title-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 70px;
}
.product__go-link {
  margin-left: 27px;
}
.product__list {
  display: grid;
  grid-template-columns: 370px 440px 340px 1fr;
  /*grid-template-columns: repeat(4, 240px);*/
  /*column-gap: 90px;*/
}
.product__caption {
  margin-bottom: 40px;
}
.product__link {
  margin-bottom: 28px;
}
.product__sublist {
  counter-reset: productItem;
}
.product__sublist li {
  position: relative;
  margin-bottom: 24px;
  font-size: 20px;
}
.product__sublist li::before {
  counter-increment: productItem;
  content: counter(productItem) '.';
  margin-right: 3px;
  font-weight: 700;
  font-size: 25px;
}
.product__img-wrap {
  position: relative;
  top: -37px;
  width: 1470px;
  height: 493;
}
.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-preview {
  padding-top: 95px;
  padding-bottom: 95px;
}
.about-preview__wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 42px;
  padding-bottom: 54px;
  box-shadow: 20px 40px 120px #E2E2E2;
  background-color: #fff;
  border-radius: 15px;
}
.about-preview__img-list {
  display: grid;
  grid-template-columns: repeat(2, 169px);
  gap: 40px;
  width: 380px;
  margin-top: 7px;
}
.about-preview__img-item {
  height: 125px;
}
.about-preview__img-wrap {
  width: 100%;
  height: 100%;
}
.about-preview__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 20px 70px rgba(0, 0, 0, 0.22);
}
.about-preview__text-wrap {
  display: flex;
  flex-direction: column;
  width: 860px;
}
.about-preview__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 34px;
}
.about-preview__go-link {
  margin-top: auto;
}
.about-preview__desc {
  padding-right: 70px;
}
.services {
  position: relative;
  margin-bottom: 615px;
  /* для фото */
  padding-top: 71px;
  padding-bottom: 71px;
}
.services__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
}
.services__list {
  display: grid;
  grid-template-columns: 220px 250px 220px 220px 220px;
  row-gap: 50px;
  justify-content: space-between;
}
.services__caption {
  margin-bottom: 44px;
}
.services__item-title {
  margin-bottom: 36px;
}
.services__item-desc {
  padding-right: 30px;
  font-size: 20px;
  line-height: 23px;
}
.services__img-wrap {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -54.895vw;
  /* -1054px */
  width: 100%;
}
.services__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*swiper*/
.two-swipers-wrap {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 140rem;
  margin-left: auto;
  margin-right: auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.swiper-button {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 0;
}
.swiper-button::after {
  content: none;
}
.pagination-swiper {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.1));
}
.pagination-swiper-wrapper {
  align-items: center;
}
.pagination-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-swiper-slide.swiper-slide-thumb-active .pagination-swiper-count {
  color: #fff;
  font-size: 30px;
  background-color: var(--color-second);
  border-radius: 10px;
}
.pagination-swiper-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
}
.vertical.two-swipers-wrap {
  height: 562px;
}
.vertical .pagination-swiper {
  width: 74px;
  height: 438px;
}
.vertical .pagination-swiper-container {
  height: 222px;
}
.vertical .swiper-button {
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 50px;
}
.vertical .swiper-button-prev {
  top: 37px;
}
.vertical .swiper-button-prev .swiper-button-icon {
  transform: rotate(-90deg);
}
.vertical .swiper-button-next {
  bottom: 37px;
}
.vertical .swiper-button-next .swiper-button-icon {
  transform: rotate(90deg);
}
.vertical .content-swiper {
  width: 1290px;
  margin-left: auto;
}
.horizontal.two-swipers-wrap {
  flex-direction: column-reverse;
}
.horizontal .pagination-swiper {
  width: 438px;
  height: 74px;
}
.horizontal .pagination-swiper-container {
  width: 222px;
}
.horizontal .swiper-button {
  top: 50%;
  transform: translateY(-50%);
  height: 38px;
  width: 50px;
}
.horizontal .swiper-button-prev {
  left: 37px;
}
.horizontal .swiper-button-prev .swiper-button-icon {
  transform: rotate(180deg);
}
.horizontal .swiper-button-next {
  right: 37px;
}
.main-swiper {
  margin-top: calc(290px - var(--img-overflow));
  margin-bottom: 248px;
  --img-overflow: 190px;
}
.main-swiper .main-swiper__two-swipers-wrap,
.main-swiper__two-swipers-wrap {
  height: calc(562px + var(--img-overflow));
}
.main-swiper__pagination-swiper {
  margin-top: var(--img-overflow);
}
.main-swiper__content-swiper {
  -webkit-filter: drop-shadow(20px 40px 120px #EEE);
          filter: drop-shadow(20px 40px 120px #EEE);
  border-radius: 15px;
}
.main-swiper__slide {
  box-sizing: border-box;
  padding-top: var(--img-overflow);
}
.main-swiper__cards-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 15px;
}
.main-swiper__card-img {
  box-sizing: border-box;
  position: relative;
  width: 388px;
  padding-top: 385px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-image: url('../img/bg/main-swiper-card-bg-d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px 0 0 15px;
  color: #fff;
}
.main-swiper__img-wrap {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 330px;
  height: 480px;
}
.main-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-swiper__img-text-wrap {
  position: relative;
  z-index: 0;
}
.main-swiper__img-desc {
  margin-bottom: 22px;
  font-size: 25px;
  line-height: 29px;
}
.main-swiper__category {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}
.main-swiper__card-detail {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 75px;
  padding-bottom: 70px;
}
.main-swiper__column-left {
  width: 230px;
}
.main-swiper__feature-title {
  padding-bottom: 46px;
  border-bottom: 2px solid var(--color-third);
}
.main-swiper__feature-title-item {
  position: relative;
  display: block;
  margin-top: 19px;
  padding-left: 38px;
  font-size: 20px;
  line-height: 23px;
}
.main-swiper__feature-title-item::before {
  position: absolute;
  content: '';
  left: 4px;
  bottom: 2px;
  width: 18px;
  height: 18px;
  background-image: url('../img/svg/icons/icon-star-yellow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-swiper__feature-desc {
  margin-top: 40px;
}
.main-swiper__feature-img-wrap {
  width: 131px;
  height: 133px;
  margin-top: 40px;
}
.main-swiper__feature-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.main-swiper__column-right {
  width: 410px;
}
.main-swiper__card-title {
  margin-bottom: 40px;
}
.main-swiper__card-desc--decor {
  position: relative;
  margin-top: 72px;
}
.main-swiper__card-desc--decor::before {
  content: '';
  position: absolute;
  top: -35px;
  left: 0;
  width: 230px;
  height: 2px;
  background-color: var(--color-third);
}
.main-swiper__btn-callback {
  margin-top: 43px;
}
.project-swiper {
  padding-top: 72px;
  padding-bottom: 72px;
}
.project-swiper__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.project-swiper__pagination-swiper {
  z-index: 0;
}
.project-swiper__content-swiper {
  box-shadow: 20px 40px 120px #E2E2E2;
  border-radius: 15px;
  overflow: hidden;
}
.project-swiper__cards-wrap {
  display: flex;
  border-radius: 15px;
  background-color: #FFF;
}
.project-swiper__card-detail {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 388px;
  padding-top: 80px;
  padding-left: 64px;
  padding-right: 45px;
  padding-bottom: 80px;
}
.project-swiper__card-title {
  margin-bottom: 40px;
}
.project-swiper__category {
  position: relative;
  margin-top: 76px;
  font-weight: 300;
  font-size: 25px;
}
.project-swiper__category span {
  font-weight: 700;
}
.project-swiper__category::before {
  content: '';
  position: absolute;
  top: -43px;
  left: 0;
  width: 250px;
  height: 2px;
  background-color: var(--color-third);
}
.project__go-link {
  margin-top: auto;
}
.project-swiper__card-img-wrap {
  width: 900px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.project-swiper__card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-swiper {
  padding-top: 72px;
  padding-bottom: 72px;
}
.event-swiper__pagination-swiper {
  margin-top: 58px;
}
.event-swiper__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.event-swiper__img {
  /*опционально*/
  margin-left: 42px;
}
.event-swiper__img-desc {
  margin-top: -20px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.event-swiper__time {
  margin-bottom: 31px;
  font-family: var(--font-text-desc);
  font-weight: 700;
}
.event-swiper__desc {
  width: 775px;
}
/*footer*/

/*# sourceMappingURL=style.css.map */
