:root {
  --font-main: 'Roboto Condensed', 'Arial', sans-serif;
  --font-text-desc: 'Circe', 'Arial', sans-serif;

  /* основной текст */
  --color-first: #2e2e2e;
  /* основной красный */
  --color-second: #FF3333;
  /* основной жёлтый */
  --color-third: #FFC309;

  --color-light-gray: #EDECF4;
  --color-darh-gray: #ACACAC;
  --color-bg: #fcfcfc;

  --transition-main: 0.5s;
  --border-radius: 1.5rem;
}

@color-f: var(--color-first);
@color-s: var(--color-second);
@color-t: var(--color-third);
@light-gray: var(--color-light-gray);
@dark-gray: var(--color-darh-gray);
@color-bg: var(--color-bg);

@font-main: var(--font-main);
@regular: 400;
@light: 300;
@bold: 700;

@br: var(--border-radius);

@circe: var(--font-text-desc);

@s: var(--transition-main);

@media (max-width: @tablet-width) {
  :root {
    --border-radius: 1rem;
  }
}
