.event-swiper {
  padding-top: 0;
  // padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.event-swiper__two-swipers-wrap {}

.event-swiper__pagination-swiper {}

.event-swiper__button-prev {}

.event-swiper__button-next {}

.event-swiper__content-swiper {}

.event-swiper__slide {}

.event-swiper__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 10.5rem;
}

.event-swiper__img-wrap {}

.event-swiper__img {
  /*опционально*/
  max-width: 55rem;
  max-height: 55rem;
  // margin-left: 4.2rem;

  filter: drop-shadow(2rem 4rem 9rem rgba(0, 0, 0, 0.1));
}

.event-swiper__img-desc {
  margin-top: 2.2rem;
  margin-bottom: 3.2rem;

  font-weight: @bold;
  font-size: 4rem;
  line-height: 4.7rem;
}

.event-swiper__time {
  margin-bottom: 3.1rem;
  font-family: @circe;
  font-weight: @bold;
}

.event-swiper__desc {
  width: 77.5rem;
}

@media (max-width: @tablet-width) {

  .event-swiper {
    // padding-top: 0;
    // padding-top: 7.2rem;
    // padding-bottom: 7.2rem;
    .padding-inline(0);
  }

  .event-swiper__pagination-swiper,
  .event-swiper .event-swiper__pagination-swiper {
    margin-top: 3rem;
  }

  .event-swiper__content-wrap {
    padding-top: 12rem;
  }

  .event-swiper__img-wrap {}

  .event-swiper__img {
    max-width: 19.7rem;;
    max-height: 24.4rem;;
  }

  .event-swiper__img-desc {
    margin-top: 2.6rem;
    margin-bottom: 3.5rem;

    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .event-swiper__time {
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
  }

  .event-swiper__desc {
    width: 100%;
  }
}
