.event-swiper {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.event-swiper__two-swipers-wrap {}

.event-swiper__pagination-swiper {}

.event-swiper__button-prev {}

.event-swiper__button-next {}

.event-swiper__content-swiper {}

.event-swiper__slide {}

.event-swiper__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event-swiper__img-wrap {}

.event-swiper__img {
  /*опционально*/
  max-width: 55rem;
  max-height: 55rem;
  margin-left: 4.2rem;
}

.event-swiper__img-desc {
  margin-top: -2rem;
  margin-bottom: 3.2rem;

  font-weight: @bold;
  font-size: 4rem;
  line-height: 4.7rem;
}

.event-swiper__time {
  margin-bottom: 3.1rem;
  font-family: @circe;
  font-weight: @bold;
}

.event-swiper__desc {
  width: 77.5rem;
}
