.main-swiper {
  // position: relative;
  // margin-top: 20rem;
  // margin-top: 15rem;
  margin-top: calc(29rem - var(--img-overflow));
  // margin-bottom: 20rem;
  margin-bottom: 24.8rem;

  --img-overflow: 19rem;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 108.1rem;

  //   background-image: url('../img/bg/1.jpg');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  // }
}

.main-swiper .main-swiper__two-swipers-wrap,
.main-swiper__two-swipers-wrap {
  height: calc(56.2rem + var(--img-overflow));
}

.main-swiper__pagination-swiper {
  margin-top: var(--img-overflow);
}

.main-swiper__button-prev {}

.main-swiper__button-next {}

.main-swiper__content-swiper {
  filter: drop-shadow(2rem 4rem 12rem #EEE);
  border-radius: 1.5rem;
}

.main-swiper__slide {
  box-sizing: border-box;
  padding-top: var(--img-overflow);
}

.main-swiper__cards-wrap {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: #FFF;
  border-radius: 1.5rem;
}

.main-swiper__card-img {
  box-sizing: border-box;
  position: relative;
  width: 38.8rem;
  padding-top: 38.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;

  background-image: url('../img/bg/main-swiper-card-bg-d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 1.5rem 0 0 1.5rem;

  color: #fff;
}

.main-swiper__img-wrap {
  position: absolute;
  // top: -14.7rem;
  // left: -2.4rem;
  // width: 43.2rem;
  // height: 55.4rem;

  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 33rem;
  height: 48rem;
}

.main-swiper__img {
  .img-contain;
}

.main-swiper__img-text-wrap {
  position: relative;
  z-index: 0;
}

.main-swiper__img-desc {
  margin-bottom: 2.2rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
}

.main-swiper__category {
  font-weight: @light;
  font-size: 2rem;
  line-height: 2.3rem;
}


.main-swiper__card-detail {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  width: 90rem;
  padding-top: 8rem;
  padding-left: 8.5rem;
  padding-right: 7.5rem;
  padding-bottom: 7rem;

  // background-color: #FFF;
  // border-radius: 0 1.5rem 1.5rem 0;
}

.main-swiper__column-left {
  width: 23rem;
}

.main-swiper__feature-title {
  padding-bottom: 4.6rem;
  border-bottom: 0.2rem solid @color-t;

  &-item {
    position: relative;
    display: block;
    margin-top: 1.9rem;
    padding-left: 3.8rem;
    font-size: 2rem;
    line-height: 2.3rem;
    &::before {
      position: absolute;
      content: '';
      left: 0.4rem;
      bottom: 0.2rem;
      width: 1.8rem;
      height: 1.8rem;

      background-image: url('../img/svg/icons/icon-star-yellow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.main-swiper__feature-desc {
  margin-top: 4rem;
}

.main-swiper__feature-img-wrap {
  width: 13.1rem;
  height: 13.3rem;
  margin-top: 4rem;
}

.main-swiper__feature-img {
  .img-cover;
  border-radius: 1rem;
}

.main-swiper__column-right {
  width: 41rem;
}

.main-swiper__card-title {
  margin-bottom: 4rem;
}

.main-swiper__card-desc {
  &--decor {
    position: relative;
    margin-top: 7.2rem;
    &::before {
      content: '';
      position: absolute;
      top: -3.5rem;
      left: 0;

      width: 23rem;
      height: 0.2rem;
      background-color: @color-t;
    }
  }
}

.main-swiper__btn-callback {
  margin-top: 4.3rem;
}

