.project-detail-swiper {
  padding-top: 60px;
  padding-bottom: 60px;

  --img-overflow: 85px;
}

.project-detail-swiper__title {
  margin-bottom: 55px;
  font-weight: @light;
  span {
    display: block;
    font-weight: @bold;
  }
}

.project-detail-swiper__two-swipers-wrap {
  /*width: 157rem;*/
  width: calc(140rem + var(--img-overflow) * 2);
  padding-right: var(--img-overflow);
}

.project-detail-swiper__pagination-swiper {
  margin-left: var(--img-overflow);
}

.project-detail-swiper__button-prev {}

.project-detail-swiper__button-next {}

.project-detail-swiper__content-swiper {}

.project-detail-swiper__slide {}

.project-detail-swiper__columns-wrap {
  display: flex;
  justify-content: space-between;
}

.project-detail-swiper__img-wrap {
  width: 860px;
  text-align: center;
}

.project-detail-swiper__img {
}

.project-detail-swiper__content-wrap {
  width: 582px;
  margin-top: 66px;
}

.project-detail-swiper__item-title {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 35px;
}

.project-detail-swiper__item-desc {
}

.project-detail-swiper__btn-callback {
  margin-top: 56px;
}
