.project-detail-swiper {
  // padding-top: 6rem;
  // padding-bottom: 6rem;
  padding-top: 14rem;
  padding-bottom: 14rem;

  --img-overflow: 8.5rem;
}

.project-detail-swiper__title {
  margin-bottom: 5.5rem;
  font-weight: @light;
  span {
    display: block;
    font-weight: @bold;
  }
}

.project-detail-swiper__two-swipers-wrap {
  /*width: 157rem;*/
  width: calc(140rem + var(--img-overflow) * 2);
  padding-right: var(--img-overflow);
}

.project-detail-swiper__pagination-swiper {
  margin-left: var(--img-overflow);
}

.project-detail-swiper__button-prev {}

.project-detail-swiper__button-next {}

.project-detail-swiper__content-swiper {}

.project-detail-swiper__slide {}

.project-detail-swiper__columns-wrap {
  display: flex;
  justify-content: space-between;
}

.project-detail-swiper__img-wrap {
  width: 86rem;
  max-height: 52rem;
  text-align: center;
}

.project-detail-swiper__img {
  .img-contain;
}

.project-detail-swiper__content-wrap {
  width: 58.2rem;
  margin-top: 6.6rem;
}

.project-detail-swiper__item-title {
  margin-bottom: 4.5rem;
  font-size: 3rem;
  line-height: 3.5rem;
}

.project-detail-swiper__item-desc {
}

.project-detail-swiper__btn-callback {
  margin-top: 5.6rem;
}

@media (max-width: @tablet-width) {
  .project-detail-swiper {
    padding-top: 6.5rem;
    // padding-bottom: 14rem;

    // --img-overflow: 8.5rem;
  }

  .project-detail-swiper__title {
    // margin-bottom: 5.5rem;
    // font-weight: @light;
    // span {
    //   display: block;
    //   font-weight: @bold;
    // }
  }

  .project-detail-swiper__two-swipers-wrap {
    /*width: 157rem;*/
    // width: calc(140rem + var(--img-overflow) * 2);
    // padding-right: var(--img-overflow);
  }

  .project-detail-swiper__pagination-swiper {
    // margin-left: var(--img-overflow);
  }

  .project-detail-swiper__button-prev {}

  .project-detail-swiper__button-next {}

  .project-detail-swiper__content-swiper {}

  .project-detail-swiper__slide {}

  .project-detail-swiper__columns-wrap {
    // display: flex;
    // justify-content: space-between;
  }

  .project-detail-swiper__img-wrap {
    // width: 86rem;
    // max-height: 52rem;
    // text-align: center;
  }

  .project-detail-swiper__img {
    .img-contain;
  }

  .project-detail-swiper__content-wrap {
    // width: 58.2rem;
    // margin-top: 6.6rem;
  }

  .project-detail-swiper__item-title {
    // margin-bottom: 4.5rem;
    // font-size: 3rem;
    // line-height: 3.5rem;
  }

  .project-detail-swiper__item-desc {
  }

  .project-detail-swiper__btn-callback {
    // margin-top: 5.6rem;
  }
}
