.project-swiper {
  padding-top: 72px;
  padding-bottom: 72px;
  // padding-top: 26px;
  // padding-bottom: 28px;
}

.project-swiper__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.project-swiper__title {}

.project-swiper__btn-callback {
}

.project-swiper__two-swipers-wrap {}

.project-swiper__pagination-swiper {
  z-index: 0;
}

.project-swiper__button-prev {}

.project-swiper__button-next {}

.project-swiper__content-swiper {
  box-shadow: 20px 40px 120px #E2E2E2;
  border-radius: 15px;
  overflow: hidden;
}

.project-swiper__slide {}

.project-swiper__cards-wrap {
  display: flex;
  border-radius: 15px;
  background-color: #FFF;
}

.project-swiper__card-detail {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  width: 388px;
  padding-top: 80px;
  padding-left: 64px;
  padding-right: 45px;
  padding-bottom: 80px;
}

.project-swiper__card-title {
  margin-bottom: 40px;
}

.project-swiper__card-desc {}

.project-swiper__category {
  position: relative;
  margin-top: 76px;
  font-weight: @light;
  font-size: 25px;

  span {
    font-weight: @bold;
  }

  &::before {
    content: '';
    position: absolute;
    top: -43px;
    left: 0;

    width: 250px;
    height: 2px;
    background-color: @color-t;
  }
}

.project__go-link {
  margin-top: auto;
}

.project-swiper__card-img-wrap {
  width: 900px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.project-swiper__card-img {
  .img-cover;
}
