.two-swipers-wrap {
  box-sizing: border-box;
  position: relative;

  display: flex;
  width: 140rem;
  .margin-inline(@a);
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-button {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;

  margin-top: 0;

  &::after {
    content: none;
  }
}

.swiper-button-prev {}

.swiper-button-next {}

.pagination-swiper {
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  background-color: #FFF;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.1));
}

.pagination-swiper-container {
  // height: 222px;
}

.pagination-swiper-wrapper {
  align-items: center;
}

.pagination-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  &.swiper-slide-thumb-active {
    .pagination-swiper-count {
      color: #fff;
      font-size: 30px;
      background-color: @color-s;
      border-radius: 10px;
    }
  }
}

.pagination-swiper-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  font-size: 20px;
  background-color: transparent;
  border-radius: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;

  cursor: pointer;
}

.content-swiper {
  // width: 1290px;
  // margin-left: auto;
  // filter: drop-shadow(20px 40px 120px #EEE);
}

.vertical {
  &.two-swipers-wrap {
    height: 562px;
  }
  .pagination-swiper {
    width: 74px;
    height: 438px;
  }
  .pagination-swiper-container {
    height: 222px;
  }
  .swiper-button {
    left: 50%;
    transform: translateX(-50%);
    width: 38px;
    height: 50px;
  }
  .swiper-button-prev {
    top: 37px;
    .swiper-button-icon {
      transform: rotate(-90deg);
    }
  }
  .swiper-button-next {
    bottom: 37px;
    .swiper-button-icon {
      transform: rotate(90deg);
    }
  }
  .content-swiper {
    width: 1290px;
    margin-left: auto;
  }
}

.horizontal {
  &.two-swipers-wrap {
    flex-direction: column-reverse;
  }
  .pagination-swiper {
    width: 438px;
    height: 74px;
  }
  .pagination-swiper-container {
    width: 222px;
  }
  .swiper-button {
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 50px;
  }
  .swiper-button-prev {
    left: 37px;
    .swiper-button-icon {
      transform: rotate(180deg);
    }
  }
  .swiper-button-next {
    right: 37px;
  }
}
