.btn-callback {
  display: inline-flex;
  align-items: center;
  // font-size: ;
  text-decoration-line: underline;
  &__icon {
    margin-left: 15px;
  }
}


// @media (max-width: @tablet-width) {
// }

