.btn-callback {
  display: inline-flex;
  align-items: center;
  text-decoration-line: underline;
  &__icon {
    margin-left: 15px;
  }
}

.btn-callback-decor {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  width: 241px;
  height: 54px;
  padding-left: 27px;

  font-family: @circe;

  border: 2px solid @color-s;
  box-sizing: border-box;
  border-radius: 10px;

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-left: auto;

    background-color: @color-s;
    border-radius: 10px;
  }
}

.btn-go-link {
  font-family: @circe;
  &__icon {
    margin-left: 2px;
  }
}

.btn-decor-line {
  position: relative;
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 40px;

  font-weight: @bold;
  font-size: 40px;
  &__icon {
    margin-left: 10px;
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 114px;
    height: 94px;

    background-image: url('../img/svg/red-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

// @media (max-width: @tablet-width) {
// }

