.icon-arrow {
  &--red {
    fill: @color-s;
  }

  &--short {
    width: 18px;
    height: 12px;
  }

  &--long {
    width: 38px;
    height: 14px;
  }

  &--right {}

  &--left {}

  &--top {
    transform: rotate(-90deg);
  }

  &--bottom {
    transform: rotate(90deg);
  }
}
