.icon-arrow {
  &--red {
    fill: @color-s;
  }

  &--white {
    fill: #fff;
  }

  &--red {
    fill: @color-s;
  }

  &--short {
    width: 1.8rem;
    height: 1.2rem;
  }

  &--long {
    width: 3.8rem;
    height: 1.4rem;
  }

  &--right {}

  &--left {
    transform: rotate(180deg);
  }

  &--top {
    transform: rotate(-90deg);
  }

  &--bottom {
    transform: rotate(90deg);
  }
}

.icon-message {
  color: @color-t;
}

@media (max-width: @tablet-width) {
  .icon-arrow {
    &--short {
      width: 1rem;
      height: 0.7rem;
    }

    &--long {
      // width: 3.8rem;
      // height: 1.4rem;
    }
  }

}
