.title {
  font-size: 5rem;
  line-height: 5.9rem;
//   &--large {
//   }
//   &--small {
//   }
}

.subtitle {
  font-size: 4rem;
  line-height: 4.7rem;
}

.desc {
  font-family: @circe;
  line-height: 2.7rem;
  &--light {
    font-weight: @light;
  }
}

.caption {
  text-transform: uppercase;
  font-size: 1.6rem;
  &--red {
    color: @color-s;
  }
}

@media (max-width: @tablet-width) {
  .title {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .caption {
    // font-size: 1.6rem;
  }
}
