.title {
  font-size: 5rem;
  line-height: 5.9rem;
//   &--large {
//   }
//   &--small {
//   }
  &--light-bold {
    font-weight: @light;
    span {
      font-weight: @bold;
    }
  }
  &--light {
    font-weight: @light;
  }
}

.subtitle {
  font-size: 4rem;
  line-height: 4.7rem;
  &--light {
    font-weight: @light;
  }
}

.desc {
  font-family: @circe;
  line-height: 2.7rem;
  &--light {
    font-weight: @light;
  }
  &--small {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.caption {
  text-transform: uppercase;
  font-size: 1.6rem;
  &--red {
    color: @color-s;
  }
  &--small {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  &--light {
    font-weight: @light;
  }
}

@media (max-width: @tablet-width) {
  .title {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
    &--small {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  .caption {
    font-size: 1.4rem;
    line-height: 1.6rem;
    &--small {
      // font-size: 1.4rem;
      // line-height: 1.6rem;
    }
  }
}
