.about-preview {
  padding-top: 95px;
  padding-bottom: 95px;
}

.about-preview__wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
  padding-left: 60px;
  padding-right: 42px;
  padding-bottom: 54px;

  box-shadow: 20px 40px 120px #E2E2E2;
  background-color: #fff;
  border-radius: 15px;
}

.about-preview__img-list {
  display: grid;
  grid-template-columns: repeat(2, 169px);
  gap: 40px;
  width: 380px;
  margin-top: 7px;

  // filter: drop-shadow(10px 20px 70px rgba(0, 0, 0, 0.22));
}

.about-preview__img-item {
  height: 125px;
}

.about-preview__img-wrap {
  width: 100%;
  height: 100%;
}

.about-preview__img {
  .img-cover;
  border-radius: 15px;
  box-shadow: 10px 20px 70px rgba(0, 0, 0, 0.22);
}

.about-preview__text-wrap {
  display: flex;
  flex-direction: column;
  width: 860px;
}

.about-preview__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 34px;
}

.about-preview__title {
}

.about-preview__go-link {
  margin-top: auto;
}

.about-preview__desc {
  padding-right: 70px;
}

.about-preview__go-link {
}
