.comments {}

.comments__title {
  margin-bottom: 5.5rem;
}

.comments__block {
  margin-bottom: 6.4rem;
  font-family: @circe;
  &:last-child {
    margin-bottom: 0;
  }
}

.comments__date {
  display: inline-block;
  margin-bottom: 1rem;
  color: #949393;
}

.comments__name {
  margin-bottom: 1.7rem;
  font-weight: bold;
  font-size: 2rem;
}

.comments__desc {
  line-height: 2.3rem;
}
