.documents {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  &--padding-block {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}

.documents__title {
  margin-bottom: 5rem;
}

.documents__list {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  justify-content: space-between;
  row-gap: 10rem;
}

.documents__item {
  width: 100%;
}

.documents__img-wrap {
  width: 100%;
  margin-bottom: 2.4rem;
}

.documents__img {
  max-height: 42.4rem;

  box-shadow: 1rem 3rem 8rem #EAEAEA;
  border-radius: @br;
}

.documents__category {
  margin-bottom: 0.9rem;
}

.documents__desc {
  font-weight: @bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

@media (max-width: @tablet-width) {
  .documents {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &--padding-block {
      // padding-top: 16rem;
      // padding-bottom: 16rem;
    }
  }

  .documents__title {
    margin-bottom: 3.5rem;
  }

  .documents__list {
    grid-template-columns: repeat(auto-fill, minmax(14.6rem, 1fr));
    column-gap: 1.6rem;
    // row-gap: 10rem;
  }

  .documents__item {}

  .documents__img-wrap {
    margin-bottom: 1.8rem;
  }

  .documents__img {
    max-height: 20.8rem;
  }

  .documents__category {
    margin-bottom: 0.7rem;
  }

  .documents__desc {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
