.form {}

.form__title {
  margin-bottom: 4.9rem;
}

.form__columns-wrap {
  display: grid;
  grid-template-columns: repeat(2, 61.6rem);
  justify-content: space-between;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  font-family: @circe;
  font-weight: @light;
}

.form__subtitle {
  width: 100%;
  margin-bottom: 2.6rem;
  font-family: @font-main;
  font-size: 3rem;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.1rem 2.2rem;

  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #DBDBDB;
  border-radius: 1rem;
  background-color: @color-bg;

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &--half {
    width: 48.5%;
  }
  &__name {}
  &__tel {}
  &__mail {}
  &__city {}
  &__text {}
  &__company-name {}
  &__post {}
  &__site {}
  &__address {}
}

.form__name {
  // margin-bottom: 2.5rem;
}

.form__text {
  height: 15rem;
}

.form__btn-submit {
  width: 18.2rem;
  margin-top: 5.8rem;
  padding-left: 2rem;
}

@media (max-width: @tablet-width) {
  .form {
    font-size: 1.4rem;
  }

  .form__title {
    margin-bottom: 2.5rem;
  }

  .form__columns-wrap {
    // display: flex;
    // flex-direction: column;
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .form__wrap {}

  .form__subtitle {
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
  }

  .form__input {
    margin-bottom: 1.5rem;
    padding: 1.4rem 1.8rem;

    &::placeholder {
      font-size: 1.4rem;
    }

    &--half {
      // width: 48.5%;
    }
  }

  .form__name {
    // margin-bottom: 2.5rem;
  }

  .form__text {
    // height: 15rem;
  }

  .form__btn-submit {
    // width: 18.2rem;
    // margin-top: 5.8rem;
    padding-left: 2.5rem;
  }
}
