.main-info-detail {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.main-info-detail__wrap {
  display: flex;
  justify-content: space-between;
}

.main-info-detail__text-wrap {
}

.main-info-detail__title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3.9rem;

    width: 5.7rem;
    height: 0.3rem;

    background-color: @color-s;
    border-radius: 1rem;
  }
}

.main-info-detail__text-small {
  display: inline-block;
  margin-top: 8.1rem;

  font-family: @circe;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.main-info-detail__card-wrap {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  flex-grow: 1;

  // height: 67.4rem;
  padding-top: 9.4rem;
  padding-bottom: 9.4rem;
  padding-left: 23.4rem;

  background-color: #FFFFFF;
  box-shadow: 2rem 4rem 12rem #F1EEEE;
  border-radius: @br;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 15.8rem;
    height: 100%;
    width: 0.2rem;
    background-color: @light-gray;
  }
}

.main-info-detail__img-wrap {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.main-info-detail__img {
  .no-select;
}

.main-info-detail__content-wrap {
  box-sizing: border-box;
  // padding-top: 9.4rem;
}

.main-info-detail__subtitle {
  margin-bottom: 2.8rem;
}

.main-info-detail {
  .desc,
  .desc-light {
    margin-bottom: 2.6rem;

    font-family: @circe;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .desc-light {
    font-weight: @light;
  }
}

.main-info-detail__inline-link {
  display: inline;
  font-weight: @bold;
  text-decoration: underline;
}

.main-info-detail__document-link-wrap {
  margin-top: 3.8rem;
}

.main-info-detail__document-link {
  &:nth-child(2) {
    margin-left: 2.5rem;
  }
}

.main-info-detail__social-list {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15.6rem;
  // padding-top: 11rem;
  // padding-bottom: 11rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  // border-left: 0.2rem solid @light-gray;
}

.main-info-detail__social-item {
}

.main-info-detail__social-link {
  text-align: center;
}

.main-info-detail__social-icon {
  // width: 4.4rem;
  // height: 3rem;
  width: 4rem;
  height: 4rem;
}

.main-info-detail__social-desc {
  display: block;
  margin-top: 0.6rem;
  font-family: @circe;
  font-size: 1.5rem;
}

.product,
.order {
  .main-info-detail__text-wrap {
    width: 36rem;
    margin-top: 13.5rem;
  }
  .main-info-detail__card-wrap {
    margin-left: 6.4rem;
  }
  .main-info-detail__content-wrap {
    width: 53rem;
  }
}

.product {
  // .main-info-detail__text-wrap {
  //   width: 36rem;
  //   margin-top: 13.5rem;
  // }
  // .main-info-detail__card-wrap {
  //   margin-left: 6.4rem;
  // }
  .main-info-detail__img-wrap {
    left: -6.4rem;
  }
  .main-info-detail__img {
    max-height: 47.5rem;
  }
  // .main-info-detail__content-wrap {
  //   width: 53rem;
  // }
}

.way {
  .main-info-detail__card-wrap {
    margin-left: 18rem;
  }
  .main-info-detail__content-wrap {
    width: 75rem;
  }
  .main-info-detail__img-wrap {
    left: -21.2rem;
  }
  .main-info-detail__img {
    max-height: 32.2rem;
  }
}

.order {
  padding-bottom: 15.8rem;
  // .main-info-detail__text-wrap {
  //   width: 36rem;
  //   margin-top: 13.5rem;
  // }
  // .main-info-detail__card-wrap {
  //   margin-left: 6.4rem;
  // }
  .main-info-detail__img-wrap {
    transform: translateY(-56%);
    left: -9rem;
  }
  .main-info-detail__img {
    max-height: 58.5rem;
  }
  // .main-info-detail__content-wrap {
  //   width: 53rem;
  // }
  .main-info-detail__document-link {
    width: 22.4rem;
    &--pl {
      padding-left: 1.8rem;
    }
  }
}

.training {
  .main-info-detail__text-wrap {
    width: 36rem;
    margin-top: 10.5rem;
  }
  .main-info-detail__card-wrap {
    // width: 97.7rem;
    margin-left: 6.4rem;
    padding-bottom: 11.7rem;
  }
  .main-info-detail__img-wrap {
    left: -12.4rem;
    transform: translateY(-46%);
  }
  .main-info-detail__img {
    max-height: 58.5rem;
  }
  .main-info-detail__content-wrap {
    width: 49rem;
  }
}

@media (max-width: @tablet-width) {
  .main-info-detail {
    padding-top: 9.2rem;
    padding-bottom: 7.9rem;
  }

  .main-info-detail__wrap {
    position: relative;
    flex-direction: column;
  }

  .main-info-detail__text-wrap {}

  .main-info-detail__title {
    &::before {
      bottom: -2rem;
      width: 2.05rem;
    }
  }

  .main-info-detail__text-small {
    margin-top: 4rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .main-info-detail__card-wrap {
    position: static;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 8.5rem;
    padding-left: 0;
    padding-bottom: 3.4rem;
    &::after {
      content: none;
    }
  }

  .main-info-detail__img-wrap {
    top: 0;
    transform: none;

    width: 18.3rem;
    height: 27.6rem;
  }

  .main-info-detail__img {}

  .main-info-detail__content-wrap {
    width: 100%;
    // padding-top: 8.5rem;
    .padding-inline(1.2rem);
  }

  .main-info-detail__subtitle {
    display: none;
    // margin-bottom: 2.8rem;
  }

  .main-info-detail {
    .desc,
    .desc-light {
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  .main-info-detail__document-link-wrap {
    margin-top: 2.8rem;
  }

  .main-info-detail__document-link {}

  .main-info-detail__social-list {
    flex-direction: row;
    width: 100%;
    margin-top: 2.9rem;
    padding-top: 3.2rem;
    padding-bottom: 0;

    border-left: 0;
    border-top: 0.2rem solid @light-gray;
  }

  .main-info-detail__social-item {
    .padding-inline(1.2rem);
    &--youtube {
      order: -1;
    }
  }

  .main-info-detail__social-link {}

  .main-info-detail__social-icon {
    width: 3.6rem;
    height: 2.6rem;
  }

  .main-info-detail__social-desc {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .product {
    .main-info-detail__text-wrap {
      width: auto;
      min-height: 17.7rem;
      margin-top: 0;
      margin-left: 15rem;
      margin-bottom: 2.5rem;
    }
    .main-info-detail__card-wrap {
    // width: 100%;
      margin-left: 0;
    }
    .main-info-detail__img-wrap {
      left: -0.4rem;
    }
    .main-info-detail__img {
      // max-height: 47.5rem;
    }
    .main-info-detail__content-wrap {
      width: 100%;
    }
  }
}
