.main-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;

  &--100vh,
  &--150vh {
    overflow: hidden;
  }

  &--100vh {
    max-height: 110vh;
  }

  &--150vh {
    max-height: 150vh;
  }

  &-img {
    .img-cover;
  }

  &.product-detail {
    top: 13rem;
    padding: 0;
  }
}

@media (max-width: @tablet-width) {

}
