.main-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;

  &--110vh,
  &--150vh {
    overflow: hidden;
  }

  &--110vh {
    max-height: 110vh;
  }

  &--150vh {
    max-height: 150vh;
  }

  &-img {
    .img-cover;
  }

  &.product-detail {
    top: 13rem;
    padding: 0;
  }
}

@media (max-width: @tablet-width) {
  .main-bg {}

  .ways.main-bg {
    z-index: 2;
    top: 18.3rem;
    left: auto;
    right: -6.6rem;
    width: 26.9rem;
    height: 23.5rem;
  }
}
