.main-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;

  &--short {
    max-height: 1000px;
    overflow: hidden;
  }

  &-img {
    .img-cover;
  }

  &.product-detail {
    top: 13rem;
    padding: 0;
  }
}

@media (max-width: @tablet-width) {

}
