.map {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.map__wrap {
  width: 139.8rem;
  height: 58.2rem;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1rem;
  overflow: hidden;
}

.map__balloon {
  min-width: 206px;
  min-height: 26px;
  padding: 2px 10px;

  font-family: @circe;
  font-weight: @bold;
  font-size: 18px;
  background-color: @color-bg;
  border-radius: 10px;
}
