.product {
  padding-top: 9.3rem;
  padding-bottom: 9.3rem;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(4, 32rem);
  justify-content: space-between;
  row-gap: 20.8rem;
}

.product__item {}

.product__link {
  box-sizing: border-box;
  position: relative;
  height: 44.2rem;
  padding-top: 24.6rem;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  padding-bottom: 2rem;

  box-shadow: 1rem 3rem 8rem #EAEAEA;
  background-color: #FFF;
  border-radius: @br;
}

.product__img-wrap {
  position: absolute;
  top: -12.3rem;
  left: 2rem;
  width: 100%;

  text-align: center;
}

.product__img {
  max-height: 33rem;
}

.product__item-title {
  margin-bottom: 1.8rem;
  font-weight: @bold;
  font-size: 3rem;
}

.product__subtitle {
  margin-bottom: 1.6rem;
  color: @dark-gray;
}

.product__desc {}
