.services {
  position: relative;
  /* для фото */
  margin-bottom: 30.46vw; /* 585px */
  padding-top: 7.1rem;
  padding-bottom: 7.1rem;
}

.services__container {}

.services__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.9rem;
}

.services__title {}

.services__btn-callback {}

.services__list {
  display: grid;
  grid-template-columns: 22rem 25rem 22rem 22rem 22rem;
  row-gap: 5rem;
  justify-content: space-between;
}

.services__item {}

.services__caption {
  margin-bottom: 4.4rem;
}

.services__item-title {
  margin-bottom: 3.6rem;
}

.services__item-desc {
  padding-right: 3rem;
  font-size: 2rem;
  line-height: 2.3rem;
}

.services__img-wrap {
  position: absolute;
  z-index: -1;
  left: 0;
  // bottom: -105.4rem;
  bottom: -54.895vw; /* -1054px */
  width: 100%;
}

.services__img {
  .img-cover;
}
