.services {
  position: relative;
  /* для фото */
  margin-bottom: 30.46vw; /* 585px */
  padding-top: 7.1rem;
  padding-bottom: 7.1rem;
}

.services__container {}

.services__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.9rem;
}

.services__title {}

.services__btn-callback {}

.services__list {
  display: grid;
  grid-template-columns: 22rem 25rem 22rem 22rem 22rem;
  row-gap: 5rem;
  justify-content: space-between;
}

.services__item {}

.services__caption {
  margin-bottom: 4.4rem;
}

.services__item-title {
  margin-bottom: 3.6rem;
}

.services__item-desc {
  padding-right: 3rem;
  font-size: 2rem;
  line-height: 2.3rem;
}

.services__img-wrap {
  position: absolute;
  z-index: -1;
  left: 0;
  // bottom: -105.4rem;
  bottom: -54.895vw; /* -1054px */
  width: 100%;
}

.services__img {
  .img-cover;
}

@media (max-width: @tablet-width) {
  .services {
    /* 167px */
    margin-bottom: 44.53vw;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }

  .services__title-wrap {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 4.9rem;
  }

  .services__title {
    margin-bottom: 4.3rem;
  }

  .services__btn-callback {}

  .services__list {
    column-gap: 2.4rem;
    row-gap: 4.8rem;

    /* если в 2 колонки по макету */
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-areas:
      'first thirt'
      'second four'
      'five six';

    /* если по-нормальному */
    /*grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));*/
  }

  /* если в 2 колонки по макету */
  .services__item {
    &:nth-child(1) {
      grid-area: first;
    }
    &:nth-child(2) {
      grid-area: second;
    }
    &:nth-child(3) {
      grid-area: thirt;
    }
    &:nth-child(4) {
      grid-area: four;
    }
    &:nth-child(5) {
      grid-area: five;
    }
    &:nth-child(6) {
      grid-area: six;
    }
  }

  .services__caption {
    margin-bottom: 2.1rem;
  }

  .services__item-title {
    margin-bottom: 2.1rem;
  }

  .services__item-desc {
    padding-right: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .services__img-wrap {
    // position: static;
    /*-336px*/
    bottom: auto;
    bottom: -89.6vw;
  }

  .services__img {}
}
