.two-columns {
  // padding-top: 15rem;
  padding-top: 10rem;
  // padding-bottom: 15rem;
  padding-bottom: 7.5rem;

  &--pb {
    padding-bottom: 15rem;
  }
}

.two-columns__wrap {
  display: flex;
  justify-content: space-between;

  .title {
    margin-bottom: 2.8rem;
    font-family: @font-main;
    font-weight: @bold;
    font-size: 4rem;
    line-height: 4.7rem;
  }

  h2,
  .two-columns__subtitle {
    position: relative;
    margin-bottom: 5.5rem;
    font-weight: @bold;
    font-size: 2rem;
    // line-height: 2.3rem;
    &::after {
      position: absolute;
      content: '';
      bottom: -2.7rem;
      left: 0;
      width: 47.8rem;
      height: 0.2rem;

      background-color: @light-gray;
    }
  }

  p,
  .desc {
    margin-bottom: 2.7rem;
    font-family: @circe;
    line-height: 2.7rem;
  }

  .desc-light {
    position: relative;
    margin-bottom: 5.4rem;
    font-family: @circe;
    font-weight: @light;
    line-height: 2.7rem;
    &::after {
      position: absolute;
      content: '';
      bottom: -2.6rem;
      left: 0;
      width: 36.3rem;
      height: 0.2rem;
      background-color: @light-gray;
    }
  }

  dt {
    position: relative;
    width: 50rem;
    margin-bottom: 2.8rem;
    padding-bottom: 3rem;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;

      width: 36.2rem;
      height: 0.1rem;
      background-color: @light-gray;
    }
  }

  dd {
    width: 58rem;
    margin: 0;
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ol li {
    margin-bottom: 2.7rem;
  }

  ul {
    margin-bottom: 3.9rem;
    font-family: @circe;
    line-height: 2.7rem;
  }

  ul li {
    position: relative;
    // margin-bottom: 0.6rem;
    padding-left: 0.9rem;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: '•';
      left: 0;
    }
  }

  figure {
    margin-top: 0.8rem;
  }

  figcaption {
    margin-top: 0.8rem;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  img {
    width: 100%;
    box-shadow: 1rem 3rem 8rem #EAEAEA;
    border-radius: @br;
  }
}

.two-columns__left-column {
  width: 58rem;
  width: 58.4rem;
}

.two-columns__right-column {
  width: 66rem;
}

.two-columns__title {
  width: 68rem;
  margin-bottom: 4.5rem;
}

.two-columns__block {
  margin-bottom: 18.7rem;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: @tablet-width) {
  .two-columns {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .two-columns__wrap {
    flex-direction: column;

    .title {
      padding-right: 2.7rem;

      margin-bottom: 3rem;
      font-size: 2.5rem;
      line-height: 2.9rem;
    }

    // .two-columns__subtitle {
    //   position: relative;
    //   margin-bottom: 5.5rem;
    //   font-weight: @bold;
    //   font-size: 2rem;
    //   // line-height: 2.3rem;
    //   &::after {
    //     position: absolute;
    //     content: '';
    //     bottom: -2.7rem;
    //     left: 0;
    //     width: 47.8rem;
    //     height: 0.2rem;

    //     background-color: @light-gray;
    //   }
    // }

    p,
    .desc,
    .desc-light {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

    .desc-light {
      position: relative;
      margin-bottom: 4.5rem;
      &::after {
        // position: absolute;
        // content: '';
        bottom: -2.2rem;
        // left: 0;
        width: 50%;
        height: 0.1rem;
        // background-color: @light-gray;
      }
    }

    dt {
      width: auto;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      &::after {
        width: 100%;
      }
    }

    dd {
      width: auto;
      // font-size: 1.4rem;
      // line-height: 2.1rem;
    }

    ol li {
      // margin-bottom: 2.7rem;
    }

    // ul {
    //   margin-bottom: 3.9rem;
    //   font-family: @circe;
    //   line-height: 2.7rem;
    // }

    // ul li {
    //   position: relative;
    //   // margin-bottom: 0.6rem;
    //   padding-left: 0.9rem;
    //   &:last-child {
    //     margin-bottom: 0;
    //   }
    //   &::before {
    //     position: absolute;
    //     content: '•';
    //     left: 0;
    //   }
    // }

    // figure {
    //   margin-top: 8px;
    // }

    // figcaption {
    //   margin-top: 8px;
    //   font-size: 18px;
    //   line-height: 21px;
    // }

    // img {
    //   border-radius: @br;
    // }
  }

  .two-columns__left-column {
    width: 100%;
    // margin-bottom: 12.4rem;
    margin-bottom: 7.8rem;
  }

  .two-columns__right-column {
    width: 100%;
  }

}
