.ways-detail-preview {
  padding-top: 129px;
  padding-bottom: 129px;
}

.ways-detail-preview__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 974px;
  .margin-inline(auto);
  text-align: center;
}

.ways-detail-preview__title {
  margin-bottom: 46px;
  font-weight: @light;
  span {
    display: block;
    font-weight: @bold;
  }
}

.ways-detail-preview__desc {}

.ways-detail-preview__link-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 52px;
}

.ways-detail-preview__link-item {}

.ways-detail-preview__link {}

.ways-detail-preview__img {}

.ways-detail-preview__go-link {
  margin-top: 57px;
}
