.ways-list {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.ways-list__list {
  display: grid;
  grid-template-columns: repeat(4, 32rem);
  justify-content: space-between;
  row-gap: 21.5rem;
}

.ways__item {}

.ways__link {
  box-sizing: border-box;
  position: relative;

  min-height: 30rem;
  padding-top: 14.9rem;
  padding-left: 2.6rem;
  padding-right: 3.6rem;
  padding-bottom: 2rem;

  box-shadow: 1rem 3rem 8rem #EAEAEA;
  background-color: #FFF;
  border-radius: 1.5rem;
}

.ways__img-wrap {
  position: absolute;
  top: -6.5rem;
  left: 2.5rem;
  width: 20rem;
  height: 20rem;
}

.ways__img {
  .img-contain;
}

.ways__item-caption {
  margin-bottom: 2.6rem;
  font-size: 1.6rem;
}

.ways__item-title {
  font-size: 3rem;
  line-height: 3.5rem;
}
